<div class="row" id="skill-page">

    <div class="col-md-2 col-xs-3 col-sm-2" id="left-seg">
      <h1>Skill</h1>
    </div>


    <div class="card">
      <h2 class="title">Programming Language</h2>
      <table class="item-table">
        <tr>
          <td> <h2 class="item"> HTML </h2>
            <div class="bar">
              <span class="html"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> CSS </h2>
            <div class="bar">
              <span class="CSS"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> C </h2>
            <div class="bar">
              <span class="C"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> SQL </h2>
            <div class="bar">
              <span class="SQL"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> Verilog </h2>
            <div class="bar">
              <span class="Verilog"></span>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h2 class="title">Script<br>Language</h2>
      <table class="item-table">
        <tr>
          <td> <h2 class="item"> Python </h2>
            <div class="bar">
              <span class="Python"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> R </h2>
            <div class="bar">
              <span class="R"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> AngularJS </h2>
            <div class="bar">
              <span class="AngularJS"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> PHP </h2>
            <div class="bar">
              <span class="PHP"></span>
            </div>
          </td>
        </tr>
        <tr>
          <br>
          <br>
          <br>
        </tr>
      </table>
    </div>
    <div class="card">
      <h2 class="title"><br>Language</h2>
      <table class="item-table">
        <tr>
          <td> <h2 class="item"> Mandarin </h2>
            <div class="bar">
              <span class="Mandarin"></span>
            </div>
          </td>
        </tr>
        <tr>
          <td> <h2 class="item"> English </h2>
            <div class="bar">
              <span class="English"></span>
            </div>
          </td>
        </tr>
        <tr>
          <br>
          <br>
          <br>
        </tr>
        <tr>
          <br>
          <br>
          <br>
        </tr>
        <tr>
          <br>
          <br>
          <br>
        </tr>
      </table>
    </div>

</div>
