/*
.watch-face {
  height: 50%;
  left: 50%;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate;
  animation-iteration-count: 2;
}

.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  animation: center 6s alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(odd) {
  background: #61bea2;
}

.circle:nth-child(even) {
  background: #529ca0;
}

.circle:nth-child(1) {
  animation: circle-1 4s ease alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(3) {
  animation: circle-3 4s ease alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease alternate;
  animation-iteration-count: 2;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease alternate;
  animation-iteration-count: 2;
}

@keyframes pulse {
  0% {
    transform: scale(.15) rotate(180deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, -50px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 50px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, 50px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, -50px);
  }
}
*/
/* Background Design */

.whole {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
}

.slide {
  width: 100%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
}
  i{
    color: #DCE1DE;
    vertical-align: middle;
    font-size: 50vh;
}

.one{
  background: #fffdfd;
}
.two{
  background: #f9bfc1;
}
.three{
  background: #c9e8dd;
}
.four{
  background: #bebebe;
}
.five{
  background: #2b2b28;
}
