
  <app-home></app-home>

<!--router-outlet></router-outlet-->
<!--div class="circle-center">
  <div class="watch-face">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div-->

<!--div class="whole">
  <div class="slide one">
    <h1>Hi There!</h1>
  </div>
  <div class="slide two"></div>
  <div class="slide three"></div>
  <div class="slide four"></div>
  <div class="slide five"></div>
</div-->
